<div class="navbar bg-base-200/70 glass fixed top-0 z-[100] w-full">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="-1"
        class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow-2xl font-medium text-primary tracking-wider">
        <li><a href="#home">INICIO</a></li>
        <li><a href="#about">SOBRE MÍ</a></li>
        <li><a href="#projects">PROYECTOS</a></li>
        <li><a href="#experience">EXPERIENCIA</a></li>
        <li><a href="#contact">CONTACTO</a></li>
      </ul>
    </div>
    <div class="flex flex-col ms-2">
      <a class="text-xl text-primary font-bold" href="#home">Andres Moreno</a>
      <a class="text-sm text-primary font-light -mt-1" href="#home">Software Engineer</a>
    </div>

  </div>
  <div class="navbar-center hidden lg:flex font-medium text-primary tracking-wider">
    <ul class="flex gap-6 px-1">
      <li class="me-2 hover:text-base-300 transition-all duration-300"><a href="#home">INICIO</a></li>
      <li class="me-2 hover:text-base-300 transition-all duration-300"><a href="#about">SOBRE MÍ</a></li>
      <li class="me-2 hover:text-base-300 transition-all duration-300"><a href="#projects">PROYECTOS</a></li>
      <li class="me-2 hover:text-base-300 transition-all duration-300"><a href="#experience">EXPERIENCIA</a></li>
      <li class="hover:text-base-300 transition-all duration-300"><a href="#contact">CONTACTO</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn bg-base-300 text-white font-medium rounded-full border-0 hover:bg-primary" href="cv_andres_moreno.pdf" 
       download="CV_Andres_Moreno.pdf"
       target="_blank">DESCARGAR CV</a>
  </div>
</div>