<footer class="footer footer-horizontal footer-center text-base-content p-10 bg-primary">
  <nav class="grid grid-flow-col gap-4">
    <a href="#home" class="hover:text-base-300 hover:cursor-pointer transition-all duration-300">INICIO</a>
    <a href="#about" class="hover:text-base-300 hover:cursor-pointer transition-all duration-300">SOBRE MÍ</a>
    <a href="#projects" class="hover:text-base-300 hover:cursor-pointer transition-all duration-300">PROYECTOS</a>
    <a href="#experience" class="hover:text-base-300 hover:cursor-pointer transition-all duration-300">EXPERIENCIA</a>
    <a href="#contact" class="hover:text-base-300 hover:cursor-pointer transition-all duration-300">CONTACTO</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a class="hover:cursor-pointer hover:scale-110 hover:border-white transition-all duration-300" href="https://github.com/andresmtataseo" target="_blank">
        <img src="github.svg" alt="GitHub" width="24" height="24" />
      </a>
      <a class="hover:cursor-pointer hover:scale-110 hover:border-white transition-all duration-300" href="https://www.linkedin.com/in/andresmtataseo" target="_blank">
        <img src="linkedin.svg" alt="LinkedIn" width="24" height="24" />
      </a>
      <a class="hover:cursor-pointer hover:scale-110 hover:border-white transition-all duration-300" href="https://wa.me/584246719783" target="_blank">
        <img src="whatsapp.svg" alt="WhatsApp" width="24" height="24" />
      </a>
    </div>
  </nav>
  <aside>
    <p>Copyright © {{fecha}} - Todos los derechos reservados</p>
  </aside>
</footer>